<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.persons.finder.mapper.PersonMapper">

    <!-- select a person by id-->
    <select id="selectById" resultType="com.persons.finder.data.Person">
        select * from person where id = #{id}
    </select>

    <!-- return list of people by searching ids-->
    <select id="selectByIds" resultType="com.persons.finder.data.Person">
        select * from person where id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.persons.finder.data.Person">
        insert into person(name) values (#{name})
    </insert>

</mapper>